# Python缓存文件
__pycache__/
*.py[cod]
*$py.class

# 数据库文件
*.db
*.sqlite
*.sqlite3
instance/

# 虚拟环境
venv/
env/
.env

# IDE文件
.idea/
.vscode/
*.swp
*.swo

# 日志文件
*.log

# 本地配置文件
.env.local
.env.development.local
.env.test.local
.env.production.local

# 其他
.DS_Store
node_modules/
.trae/
.vercel/